<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<style>
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
  }

  a:hover {
    color: #0056b3;
    text-decoration: underline
  }

  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
  }

  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
  }

  a:not([href]):not([tabindex]):focus {
    outline: 0
  }
  .col-md{
    padding: 0px 20px;
  }
  .social li{
    display: inline-block;
    padding-right: 20px;
  }

  .nav-item{
    padding: 0px 15px;
  }
</style>

<div class="container text-center" style="background-color: #e6e6e6; padding: 30px 0px; margin-top: 20px">
  <h2>La respuesta de Microsoft a la COVID-19</h2>
  <p>Lee cómo estamos respondiendo al brote de COVID-19 y encuentra recursos para ayudarte.</p>
  <a href="https://news.microsoft.com/es-xl/respondemos-juntos-a-covid-19/?icid=mscom_marcom_BM1a_covid19response">
    <span>M&#225;s informaci&#243;n &gt;</span>
  </a>
</div>

<div class="container" style="padding-top: 50px">
  <ul class="social">
    <li><span>Seguir Microsoft</span></li>
    <li>
      <a href="https://facebook.com/MicrosoftEC">
        <img src="//www.microsoft.com/onerfstatics/marketingsites-eus-prod/_h/85288795/coreui.statics/images/social/facebook.png" alt="Facebook">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/1035">
        <img src="//www.microsoft.com/onerfstatics/marketingsites-eus-prod/_h/b23f9ba2/coreui.statics/images/social/linkedin.png" alt="LinkedIn">
      </a>
    </li>
  </ul>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top" style="background-color: #f2f2f2">
  <div class="row" style="padding: 0px 85px">
    <div class="col-6 col-md">
      <h5>Novedades</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Microsoft 365</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Microsoft Store</h5>
      <ul class="list-unstyled text-small"><br>
        <li><a class="text-muted" href="#">Perfil de la cuenta</a></li><br>
        <li><a class="text-muted" href="#">Devoluciones</a></li><br>
        <li><a class="text-muted" href="#">Seguimiento de pedidos</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Educación</h5>
      <ul class="list-unstyled text-small"><br>
        <li><a class="text-muted" href="#">Office 365 para escuelas</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Empresa</h5>
      <ul class="list-unstyled text-small"><br>
        <li><a class="text-muted" href="#">Microsoft Azure</a></li><br>
        <li><a class="text-muted" href="#">Recursos para asociados de Microsoft</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Desarrollador</h5>
      <ul class="list-unstyled text-small"><br>
        <li><a class="text-muted" href="#">Microsoft Visual Studio</a></li><br>
        <li><a class="text-muted" href="#">Centro de desarrollo</a></li><br>
        <li><a class="text-muted" href="#">Channel 9</a></li><br>
        <li><a class="text-muted" href="#">Centro para desarrolladores de Microsoft 365</a></li><br>
        <li><a class="text-muted" href="#">Programa para desarrolladores de Microsoft 365</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Compa&ntilde;&iacute;a</h5>
      <ul class="list-unstyled text-small"><br>
        <li><a class="text-muted" href="#">Trabajos</a></li><br>
        <li><a class="text-muted" href="#">Acerca de Microsoft</a></li><br>
        <li><a class="text-muted" href="#">Privacidad en Microsoft</a></li><br>
        <li><a class="text-muted" href="#">Inversionistas</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="navbar navbar-expand-lg navbar-light container">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span class="material-icons">public</span>
      </li>
      <li class="nav-item active">
        <a class="text-muted" href="#">Español (Ecuador)</a>
      </li>
    </ul>
  </div>
  <div >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="text-muted" href="#">Ponte en contacto con Microsoft</a></li>
      <li class="nav-item"><a class="text-muted" href="#">Privacidad</a></li>
      <li class="nav-item"><a class="text-muted" href="#">Aviso legal</a></li>
      <li class="nav-item"><a class="text-muted" href="#">Marcas Registradas</a></li>
      <li class="nav-item"><a class="text-muted" href="#">Sobre nuestra publicidad</a></li>
      <li class="nav-item"><a class="text-muted" href="#">© Microsoft 2021</a></li>
    </ul>

  </div>
</div>
