<div class="container">
  <form>
    <app-base-control [formGroup]="formGroup"
                      [campos]="campos">
    </app-base-control>
    <label>Productora</label><br>
    <select class="browser-default custom-select" (change)="selectChangeHandler($event)">
      <option selected>Selecciona una productora</option>
      <option *ngFor="let productora of productoras" value="{{productora.id}}" name="productora">{{productora.nombre}}</option>
    </select><br><br>
    <button type="submit" class="btn btn-primary"
            [disabled]="formGroup.invalid" (click)="crearPelicula()" [routerLink]="['/peliculas']">Guardar</button>
    <button class="btn btn-primary"
            [routerLink]="['/peliculas']">Cancelar</button>
  </form>
</div>

