<form>
  <div class="container">
    <div class="row column-basta">
      <div class="row">
        <div class="text-white col-md-3 myAlign">
          <div>
            <img src="https://pixy.org/download/4773331/" class="myImages" style="height: 150px; width: 150px;">
          </div>
        </div>
        <div class="text-white col-md-6 myAlign">
          <div>
            <label for="nombre">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre divertido">
          </div>
        </div>
        <div class="text-white col-md-3 myAlign">
          <div>
            <button type="submit" class="btn btn-success btn-lg myColor text-black" [routerLink]="['/anfitrion']">Crear una sala</button>
            <button type="submit" class="btn btn-success btn-lg myColor text-black" [routerLink]="['/invitado']">Unirse a una sala</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
