<div>
  <label for="buscarProductora" class="form-label">Buscar productora: </label>
  <input type="text" class="form-control"
         [(ngModel)]="buscarProductora"
         id="buscarProductora" aria-describedby="buscarProductoraAyuda">
  <div id="buscarProductoraAyuda" class="form-text">
    Buscar por nombre
  </div><br>
  <div class="d-grid gap-2">
    <button class="btn-primary btn-block"
            (click)="actualizarParametrosDeConsulta()"
    >Buscar</button>
  </div><br>

  <div class="d-grid gap-2">
    <button class="btn-primary btn-block"
            (click)="testAPI()"
    >API</button>
  </div>

</div>

<div *ngFor="let productora of arreglo">
  <p>{{productora.nombre}}</p>
  <button (click)="gestionarProductora(productora.id)">Gestionar</button>
</div>
