<div>
  <label for="buscarPelicula" class="form-label">Buscar pelicula: </label>
  <input type="text" class="form-control"
         [(ngModel)]="buscarPelicula"
         id="buscarPelicula" aria-describedby="buscarPeliculaAyuda">
  <div id="buscarPeliculaAyuda" class="form-text">
    Buscar por nombre
  </div><br>
  <div class="d-grid gap-2">
    <button class="btn-primary btn-block"
            (click)="actualizarParametrosDeConsulta()"
    >Buscar</button>
  </div><br>

</div>

<div *ngFor="let pelicula of arreglo">
  <p>{{pelicula.nombre}}</p>
  <button (click)="gestionarProductora(pelicula.id)">Gestionar</button>
</div>
