<form [formGroup]="formGroup">
  <div class="container">
    <!-- Encabezado-->
    <div class="row justify-content-between">
      <div class="col-md-4" style="margin-bottom: 20px">
        <button class="btn btn-success btn-lg text-black" [routerLink]="['/inicio']"><</button>
      </div>
      <div class="col-md-4" style="margin-bottom: 20px">
        <button class="btn btn-success btn-lg text-black" [routerLink]="['/home']">Log out</button>
      </div>
    </div>
    <!-- Seccion Principal-->
    <div class="row">
      <div class="col-md-4">
        <div class="text-white column-basta" style="height: 350px">
          <!-- Rondas y Jugadores-->
          <div class="row">
            <div class="d-inline-block col-md-12">
              <span>Rondas: </span>
              <select class="btn btn-outline-light browser-default custom-select" (change)="selectChangeHandler($event)" formControlName="rondas" style="font-size: 14px">
                <option *ngFor="let i of [1,2,3,4,5,6]" value="{{i}}">{{i}}</option>
              </select><br><br>
              <span>Jugadores: </span>
              <select class="btn btn-outline-light browser-default custom-select" (change)="selectChangeHandler($event)" formControlName="jugadores" style="font-size: 14px">
                <option *ngFor="let i of [2,3,4,5,6]" value="{{i}}">{{i}}</option>
              </select>
            </div>
          </div>
          <!-- Sección Media-->
          <div class="row">
            <div style="height: 185px">

            </div>
          </div>
          <!-- Contraseña-->
          <div class="row">
            <!--
            <label for="password">Contraseña</label>
            <input class="input--style-3" type="password" id="password" placeholder="Contraseña">
            <app-base-control [formGroup]="formGroup" [campos]="password"></app-base-control>
            -->

          </div>
        </div>
      </div>
      <!-- Categorías-->
      <div class="col-md-4">
        <div class="text-white column-basta" style="height: 350px">
          <!-- Titulo Categories-->
          <div class="row">
            <h5>Categorías</h5>
          </div>
          <!-- Lista Categories-->
          <div class="row">
            <div class="overflow-auto" style="height: 220px; margin-bottom: 10px">
              <div *ngFor="let category of categories">
                <span style="margin: 5px">{{category}}</span>
              </div>
            </div>
          </div>
          <!-- Botón agregar-->
          <div class="row">
            <div class="col-md-12">
              <input class="input--style-3 col-md-6" type="text" placeholder="Agrega una categoría"
                     style="width: 165px; margin-right: 10px; font-size: 14px" formControlName="categoria">
              <button class="btn btn-outline-light btn-lg col-md-6"
                      style="height: 30px; font-size: 14px; padding: 0px; width: 30px" (click)="agregarCategoria()">#</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Letras -->
      <div class="col-md-4">
        <div class="text-white column-basta" style="height: 350px">
          <div class="row">
            <h5>Letras</h5>
          </div>
          <div class="row">
            <div class="col-md-3" *ngFor="let letra of letras">
              <input type="checkbox" class="btn-check" id="{{letra}}" autocomplete="off" formControlName="{{letra}}"/>
              <label class="btn btn-outline-light btn-lg" style="border-radius: 100%; font-size: 12px" for="{{letra}}">{{letra}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Botón Crear -->
    <div class="row">
      <div style="margin-top: 20px">
        <button type="submit" class="btn btn-success btn-lg myColor text-black" [disabled]="formGroup.invalid" (click)="crearSala()">Crear</button>
      </div>
    </div>
  </div>
</form>

